/* Define the color schema */

$teal_blue: #388087;
$moonstone_blue: #6FB3B8;
$powder_blue: #BADFE7;
$magic_mint: #C2EDCE;
$offwhite: #F6F6F2;

$sand: #dad3c2;
$smoke: #615e5b;
$darker_sand: #a0978a;
$grey_blue: #a0bccb;
$grey_darker_blue: #89a1c5;
$grey_green: #888e8f;


// $nav_btn: $offwhite;
// $nav_btn_active: $teal_blue;
// $nav_btn_hover: $moonstone_blue;
// $nav_btn_text: $teal_blue;
// $nav_btn_text_active: $offwhite;
// $nav_btn_text_hover: $offwhite;

$nav_btn: $offwhite;
$nav_btn_active: $smoke;
$nav_btn_hover: $darker_sand;
$nav_btn_text: $grey_darker_blue;
$nav_btn_text_active: $offwhite;
$nav_btn_text_hover: $offwhite;

$timeline_item_time_container: $darker_sand;
$timeline_color: $smoke;
$timeline_entry_color: $smoke;
$timeline_line_color: grey;

$timeline_title: $grey_darker_blue;
$timeline_subtitle: $grey_blue;

$content_title: $smoke;