@import "_variables";

.content-container {
    padding: 50px;

    h3 {
        color: $content_title;
    }

    p {
        color: $grey_green;
    }
}

@media screen {
    img {
        width: 100%;
        object-fit: cover;
    }
}
