@import "_variables";
.navbar-container {
    // sticky navbar
    top: 0;
    z-index: 999;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.navbar-items {
    background-color: yellow;
    display: flex;
}

.navbar-item {
    float: left;
    background-color: $nav_btn;
    color: $nav_btn_text;
    flex-grow: 1;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
}

.navbar-item:hover {
    color: $nav_btn_text_hover;
    background-color: $nav_btn_hover;
}

.navbar-item-active {
    background-color: $nav_btn_active;
    color: $nav_btn_text_active;
}

.navbar {
    overflow: hidden;
    width: 100%;
    display: flex;
}

span {
    display:flex;
    width: 100%;
}
